body {
  font-family: Arial, Helvetica, sans-serif; 
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
}

.card {
  
  padding: 16px;
  box-shadow: 8px 8px linear-gradient(to right, #3c3b3f, #605c3c);
  border-radius: 8px;
  color: white;
  
}

a {
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 16px;
  

}

.dark {
  background: black;
}

img {
  height: 300px;
  
}
#dog {
  color: white;
 
}
#tv {
  color: white;
}

#mail {
  color: white;
}
div {
  display: inline-block;
}
.about {
  color: white;
}